<template name="home">
  {{> curtain}}
  {{> menu}}
  {{> main}}
</template>

<template name='main'>
  <div class='main'>
  {{#if menu_optimization}}
    {{> optimization}}
  {{else}}{{#if menu_settings}}
    {{> settings}}
  {{else}}{{#if menu_help}}
    {{> help}}
  {{else}}{{#if menu_logs}}
    {{> logs}}
  {{else}}
    {{> optimizations}}
  {{/if}}{{/if}}{{/if}}{{/if}}
  </div>
</template>

<template name='curtain'>
  <div class='curtain'>
    <div id='curtain1' class='curtain-gradient'></div>
    <div id='curtain2' class='curtain-gradient'></div>
    <div class='home-logo leave-up'>
      Symetrical NACA<br />
      Airfoil Optimization
    </div>
    <div class="form leave-down login-form">
      <div>
        <input type="email" id="login-email" placeholder="Email" />
        <input type="password" id="login-password" placeholder="Password" />
        <div class="form-button">
        {{#progress_button id="button" class="inverted"}}
          Login
        {{/progress_button}}
        </div>
      </div>
    </div>
    <div class='home-by'>
      <a class='inverse' href='#'>The group</a>
    </div>
  </div>
</template>
