<template name="home">
  {{> curtain}}
  {{> menu}}
  {{> main}}
</template>

<template name='main'>
  <div class='main'>
  {{#if menu_optimization}}
    {{> optimization}}
  {{else}}{{#if menu_settings}}
    {{> settings}}
  {{else}}{{#if menu_help}}
    {{> help}}
  {{else}}
    {{> optimizations}}
  {{/if}}{{/if}}{{/if}}
  </div>
</template>

<template name='curtain'>
  <div class='curtain'>
    <div id='curtain1' class='curtain-gradient'></div>
    <div id='curtain2' class='curtain-gradient'></div>
      <div class='home-logo'>
        Group Project
      </div>
      <form id="login-form" class="form leave-down">
        <div>
          <p class="error-form" id="error-serveur">Error. Try again :S</p>
          <input type="email" id="login-email" placeholder="Email" />
          <p class="error-form" id="user-not-found">Not a good email.</p>
          <input type="password" id="login-password" placeholder="Mot de passe" />
          <p class="error-form" id="password-incorrect">Wrong password.</p>
          <div class="progress-button form-button{{#if loggingIn}} loading{{/if}}">
            <button type="submit" id="login-button" class="button button-border-primary button-jumbo"><span>Login</span>{{> svgButton}}</button>
          </div>
        </div>
      </form>
      <div class='home-by'>
        <a class='inverse' href='#'>The group</a>
      </div>
  </div>
</template>
