<template name="optimization">
  {{#if newOptimization}}
  {{> new_optimization}}
  {{else}}
    <div class="container">
      <div class="row">
        <div class="dashboard">
          <div class="side">
            <h3>Globals parameters</h3>
            <div><span>Tolerance</span> {{currentOptimization.tolerance}}</div>
            <div><span>Step</span> {{currentOptimization.defaultStep}}</div>
            <div><span>L / D max</span> {{currentOptimization.max}}</div>
            <div><span>Iterations</span> {{iterations.length}}</div>
          </div>
          <div class="side">
            <h3>{{#if currentOptimization.finished}}Best Iteration{{else}}Current Iteration{{/if}}</h3>
            <div><span>c</span> {{currentIteration.parameters.[0]}}</div>
            <div><span>t</span> {{currentIteration.parameters.[1]}}</div>
            <div><span>theta</span> {{currentIteration.parameters.[2]}}</div>
            <div><span>L / D</span> {{currentIteration.value}}</div>
          </div>

          {{#if currentOptimization.finished}}{{else}}
          <div class="progress-button form-button" id="iterate">
            <button type="submit" id="button" class="button button-border-primary button-jumbo"><span>Iterate !</span>{{> svgButton}}</button>
          </div>
          {{/if}}
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="row">
        <div class="draw"><canvas id="canvas-draw"></canvas></div>
        {{> graph}}
      </div>
    </div>
  {{/if}}
</template>

<template name="graph">
  <div class="graph" id="canvas-graph"></div>
</template>

<template name="new_optimization">
  <form class="form go-up">
    <div>
      <p class="error-form" id="error-serveur">Error. Try again :S</p>
      <input type="number" step="any" id="tolerance" placeholder="Tolerance" min="0" max="100"/>
      <input type="number" step="any" id="step" placeholder="Default Step" min="0" max="100"/>
      <input type="number" step="any" id="c" placeholder="Chord Length" min="0" max="100"/>
      <input type="number" step="any" id="t" placeholder="Maximum Thickness as a Fraction of the Chord" min="0" max="100"/>
      <input type="number" step="any" id="theta" placeholder="Angle of Attack (radian)" min="0" max="100"/>
      <div class="progress-button form-button">
        <button type="submit" id="button" class="button button-border-primary button-jumbo"><span>Go !</span>{{> svgButton}}</button>
      </div>
    </div>
  </form>
</template>
