<template name="settings">
    <div class="settings-wrapper">
        <div class="settings-title">
            <h1>Settings</h1>
        </div>
        {{> deleteAllOptimizations}}
        {{> changeTheme}}
    </div>
    
</template>


<template name="deleteAllOptimizations">
        <div class="deleteOptimizations">
            <hr>
            <p>Use this option to delete all saved optimizations in one fell swoop! </p>
            <input type="button" class="clear-optimizations button" value="Delete All Optimizations" />
            <hr>
        </div>
</template>

<template name="changeTheme">
        <div class="changeTheme">
            <p>Select your preferred theme </p>
            <div class="form">
                <select name="color_selector" class="change-theme">
                    <option {{selected "emerald"}} value="emerald">Emerald Green</option>
                    <option {{selected "sapphire"}} value="sapphire">Sapphire Blue</option>
                    <option {{selected "ruby"}} value="ruby">Ruby Red</option>
                </select>
            </div>
            <hr>
        </div>
</template>