.help-wrapper {
  margin: 20px;

  .help-title h1 {
    margin-left: 20px;
    margin-top: 20px;
  }

  .help-list {
    h4 {
      margin-left: 20px;
    }

    img {
        float:left;
        width: 300px;
        margin-left:30px;
    }
  }

  .help-list p{
    margin-left: 35px;
  }
}


