@import "common/variables.less";

.optimization, .addOptimization {
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-top: 20px;
  background: currentColor;
  float: left;
  cursor: pointer;
}

.addOptimization {
  margin-bottom: 20px;

  div {
    color: #FFFFFF;
    width:100%;
    text-align: center;

    &:first-child {
      font-size: 147px;
      line-height: 175px;
    }
  }

}

.optimization {
  div{
    color: #FFF;
    &:first-child {
      text-align: right;
      position: relative;
      padding-right: 10px;
      top: 175px;
    }
    &:last-child {
      text-align: right;
      width: 90%;
      margin-right: 5%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    &.del-optimization {
      opacity: 0;
      .transition;
      float: right;
      padding-right: 5px;
      margin-top: -20px;
      width: 23px;
    }
  }

  &:hover {
    .del-optimization {
      opacity: 1;
      &:hover {
        color: @error-color;
      }
    }
  }
}
